<table class="table" id="post-table">
  <tbody>
    <tr>
      <td>heart</td>
      <td>
        <strong>
          <span class="label label-danger">New</span>
          A new post
        </strong>
        <br>
        <small>
          <span>10</span>
          &nbsp; Added 10 mins ago by corey
        </small>
      </td>

      <td style="width:20%">
        <div class="pull-right">
          <a href="post/view/3#new">
            10 comments
          </a>
          <br>
          <small>last by corey</small>
        </div>
      </td>
    </tr>

    <tr>
      <td>heart</td>
      <td>
        <strong>
          <span class="label label-danger">New</span>
          A new post
        </strong>
        <br>
        <small>
          <span>10</span>
          &nbsp; Added 10 mins ago by corey
        </small>
      </td>

      <td style="width:20%">
        <div class="pull-right">
          <a href="post/view/3#new">
            10 comments
          </a>
          <br>
          <small>last by corey</small>
        </div>
      </td>
    </tr>

    <tr>
      <td>heart</td>
      <td>
        <strong>
          <span class="label label-danger">New</span>
          A new post
        </strong>
        <br>
        <small>
          <span>10</span>
          &nbsp; Added 10 mins ago by corey
        </small>
      </td>

      <td style="width:20%">
        <div class="pull-right">
          <a href="post/view/3#new">
            10 comments
          </a>
          <br>
          <small>last by corey</small>
        </div>
      </td>
    </tr>

  </tbody>
</table>
