<div class="masthead clearfix">
  <div class="inner">
    <h3 class="masthead-brand">FYIBN</h3>
    <ul class="nav masthead-nav">
      <li>{{#link-to 'posts'}}Home{{/link-to}}</li>
      <li>{{#link-to 'posts.new'}}Post{{/link-to}}</a></li>
      <li><a href="#">Logout</a></li>
    </ul>
  </div>
</div>
