<div class="masthead clearfix">
  <div class="inner">
    <h3 class="masthead-brand">FYIBN</h3>
    <ul class="nav masthead-nav">
      <li><a href="#">Home</a></li>
      <li><a href="#">Post</a></li>
      <li><a href="#">Logout</a></li>
    </ul>
  <div>
</div>
