<table class="table" id="post-table">
  <tbody>

    {{#each}}
    <tr>
      <td>{{dope-button}}</td>
      <td>
        <strong>
          <span class="label label-danger">New</span>
          {{#link-to 'post' id}}{{title}}{{/link-to}}
        </strong>
        <br>
        <small>
          <span>10</span>
          &nbsp; Added {{ago created_at}} by corey
        </small>
      </td>

      <td style="width:20%">
        <div class="pull-right">
          {{#link-to 'post' id}}
            10 comments
          {{/link-to}}
          <br>
          <small>last by corey</small>
        </div>
      </td>
    </tr>
    {{/each}}

  </tbody>
</table>

